.form-container {
  text-align: center;
  width: 100%;
  max-width: 320px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}

button {
  background: #00c9a7;
  border: none;
  padding: 0.9rem;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #00b191;
}

.toggle {
  color: #00c9a7;
  cursor: pointer;
  font-weight: 600;
}

.toggle:hover {
  text-decoration: underline;
}